@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Tenada";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #ffffff; /* 배경색 */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-image: url(../images/background.png); /* 컨테이너 배경 */
  background-size: cover;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 100vh;
  width: 300px;
  text-align: center;
}

.login-title {
  font-family: "Tenada";
  font-size: 5em;
  color: white;
  margin: 80px 0px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.input-container {
  position: relative;
  margin-bottom: 0; /* margin-bottom 제거 */
}

input {
  font-family: "Pretendard-Regular";
  width: 280px;
  height: 25px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
}

.delete-button,
.toggle-password {
  position: absolute;
  right: 20px;
  top: 45%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.delete-button img {
  width: 20px;
  height: 20px;
}

.toggle-password img {
  width: 20px;
  height: 20px;
}

.login-button {
  background-color: #00a24d;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
  margin-top: 10px;
}

.signup-link {
  margin-top: 15px;
  color: #006837;
}

.signup-link a {
  color: #0645ad;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}
